body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/*  -- HEADER ---*/

header {
	margin-left: 15px;
}

h1 {
	font-size: 6em;
	line-height: 1em;
	margin-bottom: 30px;
}

section {
	display: flex;
	flex-direction: column;
	border: solid #c4c4c4 0.5px;
	box-shadow: 2px 2px 3px #c4c4c4;
	padding: 5px;
	transition: all ease 0.8s;
}

.continue-button {
	font-size: 1em;
	border: 0;
	background: #000;
	color: #fff;
	padding: 8px;
	text-decoration: none;
}

#square{
	width: 31.6227766017px;
	height: 31.6227766017px;
	box-sizing: border-box;
	border: solid black 0.5px;
	margin: 0 auto 30px auto;
	transition: all ease-out 1s;
}

.first{
	width: 300px;
	height: 110px;
	margin: 0 auto 15px auto;
}

.second-section{
	width: 700px;
	height: 400px;
	padding: 10px;
	margin: 0 auto 15px auto;
}

.hidden{
	display: none;
}
